Sphinx
Pallets-Sphinx-Themes
requests
requests-toolbelt
selenium
webdriver_manager
xlrd
xlwt
pyparsing
pyhocon
lxml
pytest
pytest-html
pytest-dependency
PyYAML
mimesis
jsonpath-rw
jsonpath-rw-ext
oauthlib
requests_oauthlib
bs4
genson
jsonschema
haralyzer
browsermob-proxy
mysql-connector-python
